/* resets */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-flow: column;
  place-items: center;
  margin: 20px;
}

header{
  display: flex;
  flex-flow: column;
}
main{
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  place-items: center;
}

.ImagesCont{
  position: relative;
}
.Image1{
  max-height: 90vh;
}
.Image2{
  position: absolute;
  left: 0;
  top: 0;
}

.FileButton{
  background: #dddddd;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin: 0 0 20px;
  padding: 10px 10px;
  text-align: center;
  transition: background .3s;
}
.FileButton:hover{
  background: #eee;
}
.FileButton span{}
.FileButton input{display: none;}
  
.Button{
  background: #0075db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 20px;
  padding: 10px 10px;
  transition: background .3s;
  user-select: none;
}
.Button:hover{
  background: #1f96ff;
}
.Button[disabled]{
  opacity: 0.3;
  pointer-events: none;
}

.ZoomControls{
  margin: 0 0 20px;
}
.ZoomControls p{
  margin: 0;
}

.InputRange{
  width: 100%;
}